<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
	<title>{% block title %}Welcome!{% endblock %}</title>
	{% block stylesheets %}
		 <link href="{{ asset('main.css') }}" type="text/css" rel="stylesheet" /> 
	{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

</head>
<body>
	<header id="head"><h3>Bienvenue sur Mixtory !!</h3></header>
	<div id="menu">
		{{ render(controller("AppBundle:Default:oldstories", {'limit':3})) }}
	</div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
