{% extends 'base.html.twig' %}
{% block body %}
<div class = "form-style-3">
	<form method = "post" action = "{{ path('site_firstline') }}">
		<fieldset><legend>Histoire</legend>
			<label for="field1"><span>Titre :</span><input type = "text" name = "title">
			<label for="field2"><span>Texte :<span class="required">*</span></span><textarea name = "text" rows = "8" cols = "81"></textarea>
			<label for="field3"><span>Choisissez le nombre de co-auteurs supplémentaires :<span class="required">*</span></span><input type = "number" name = "nbr_author"/>
			<label for="fieldBackGround"><span>Choisissez le thème de votre histoire :</span>
				<input type="radio" name="theme" value="Horror"> Horreur 
				<input type="radio" name="theme" value="Comedy"> Humour
				<input type="radio" name="theme" value="Romantic"> Romance
		</fieldset>
		<fieldset><legend>Informations personnelles</legend>
			<label for="field4"><span>Adresse e-mail :</span><input type = "text" name = "email">
				<label><span>&nbsp;</span><input type= "submit" value = "Go !"/>
		</fieldset>
	</form>
</div>
{% endblock %}

