<h3 id="oldstories">Voici les anciennes histoires !</h3>
<ul class="nav">	
	{% for story in stories %}
		<li>
			<a href="{{ path('site_story', {'id': story.id}) }}">
				{{story.title}}
			</a>
		</li>
	{% endfor %}
	<a id='buttonSee' href="{{ path('site_storyView')}}">
		See more....
	</a>
</ul>
