{% extends 'base.html.twig' %}
{% block body %}
<article id="story">
 <h3>{{story.title }}</h3>
         {% for author in authors %}
            <p>{{ author.text }}</p>
         {% endfor %}
	 <button><a href = "{{ path('site_homepage')}}">Retour sur la page d'accueil</a></button>
</article>
{% endblock %}
