{% extends 'base.html.twig' %}
{% block body %}
<article id="histoire">
 <h3>{{story.titre }}</h3>
         {% for auteur in auteurs %}
            <p>{{ auteur.texte }}</p>
         {% endfor %}
	 <button><a href = "{{ path('site_homepage')}}">Retour sur la page d'accueil</a></button>
</article>
{% endblock %}
