{% extends 'base.html.twig' %}
{% block body %}
 <h3>{{story.titre }}</h3>
         {% for auteur in auteurs %}
            <p>{{ auteur.texte }}</br></br></p>
         {% endfor %}
<a href = "{{ path('site_homepage')}}">Retour sur la page d'accueil</a>
{% endblock %}
